.link
    background-color: white
    user-select: none
    cursor: pointer

    .header
        display: flex
        align-items: center
        padding: 10px

        img
            height: 20px
        span
            text-align: center
            width: 100%
            font-weight: bold

    .body
        padding: 10px 20px
        background-color: black
        color: white
        font-style: italic
        font-size: 12px